@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-family: 'Barlow', sans-serif;
}

:root {
  --primary-color: #43d788;
  --dark: #282727;
  --grey: #c3bfbf;
  --white: #fff;

  --transition: all .3s ease-in;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

p {
  font-size: 2.2rem;
}


/* HEADER */

header {
  height: 25vh;
  width: 100%;
}

.header__social--container {
  height: 40%;
  background-color: var(--primary-color);
}

.header__social--icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header__social--icons a {
  margin-right: 15px;
  background-color: var(--white);
  border-radius: 50%;
  color: var(--primary-color);
  padding: 5px;
  transition: var(--transition);
}

.header__social--icons a:hover {
  color: var(--white);
  background-color: var(--primary-color);
  transform: scale(1.4);
}

.header__social--icons a:last-child {
  margin: 0;
}

.header__social--icons i {
  font-size: 1.8rem;
}

.header__nav {
  background-color: var(--grey);
  height: 60%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__nav--logo img {
  height: 55px;
  width: auto;
}

.header__nav--profile a {
  color: var(--dark);
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid var(--dark);
}

/* MAIN */

.main__home {
  height: 75vh;
  width: 100%;
  background-image: url('../assets/img/Cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__home--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.main__home p {
  color: var(--white);
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  width: 80%;
}

.main__home h1 {
  margin-bottom: 15px;
  color: var(--white);
  letter-spacing: 0.2rem;
}

.main__home--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main__home--button {
  border: 2px solid var(--white);
  border-radius: 8px;
  background-color: var(--primary-color);
  height: 45px;
  width: 120px;
  text-transform: uppercase;
  font-weight: 700;
  transition: var(--transition);
  cursor: pointer;
}

.main__home--button:hover {
  background-color: transparent;
  color: var(--white);
  transform: scale(1.1);
}