@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-family: 'Barlow', sans-serif;
}

:root {
  --primary-color: #42c27e;
  --dark: #282727;
  --grey: #E6E9ED;
  --white: #fff;

  --transition: all .3s ease-in;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

/* Buttons */

.btn {
  border-radius: 5px;
  height: 45px;
  width: 120px;
  cursor: pointer;
  transition: var(--transition);
  font-size: 1.5rem;
  font-weight: 700;
}

.btn-primary {
  border: 2px solid var(--white);
  background-color: var(--primary-color);
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--white);
  transform: scale(1.1);
}

.btn-secondary {
  border: 2px solid var(--primary-color);
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* HEADER */

header {
  height: 25vh;
  width: 100%;
}

.header__social--container {
  height: 40%;
  background-color: var(--primary-color);
}

.header__social--icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header__social--icons a {
  margin-right: 15px;
  background-color: var(--white);
  border-radius: 50%;
  color: var(--primary-color);
  padding: 5px;
  transition: var(--transition);
}

.header__social--icons a:hover {
  color: var(--white);
  background-color: var(--primary-color);
  transform: scale(1.4);
}

.header__social--icons a:last-child {
  margin: 0;
}

.header__social--icons i {
  font-size: 1.8rem;
}

.header__nav {
  background-color: var(--white);
  height: 60%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__nav--logo img {
  height: 55px;
  width: auto;
}

.header__nav--profile a {
  color: var(--dark);
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid var(--dark);
}

/* MAIN - Home */

.main__home {
  height: 75vh;
  width: 100%;
  background-image: url('../assets/img/Cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__home--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.main__home p {
  color: var(--white);
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  width: 80%;
}

.main__home h1 {
  margin-bottom: 15px;
  color: var(--white);
  letter-spacing: 0.2rem;
}

.main__home--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* MAIN - Blogs */

.main__blogs {
  height: auto;
}

.main__news {
  padding: 30px 0;
  background-color: var(--grey);
  width: 100%;
}

.main__news h3 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
}

.main__news--container {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.news--blogpost--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news--blogpost--card img {
  width: 80%;
  min-width: 280px;
  max-width: 480px;
  border-radius: 5px;
}

.news--blogpost--info {
  text-align: center;
}

.news--blogpost--info h2 {
  margin: 15px 0;
}

.news--blogpost--info p {
  margin: 25px 0;
  line-height: 2.5rem;
}

/* Blogpost card section */

.main__blogposts--card {
  padding: 30px 15px;
  width: 90%;
  margin: auto;
}

.main__blogposts--card h3 {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--grey);
}

.blogposts__cards--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.blogpost__card {
  text-align: center;
  padding: 20px;
}

.blogpost__card img {
  width: 80%;
  border-radius: 4px;
  min-width: 220px;
  max-width: 350px;
}

.blogpost__card h4 {
  margin: 20px 0;
  font-weight: 500;
}

.blogpost__card p {
  line-height: 2.5rem;
  margin-bottom: 20px;
}

/* MAIN - Blog */

.blog__img--container {
  margin-bottom: 30px;
}

.blog__img--container img {
  display: block;
  width: 90%;
  min-width: 300px;
  max-width: 920px;
  margin: 0 auto;
  border-radius: 4px;
}

.blog__main--container {
  width: 90%;
  margin: 0 auto;
}

.blog__card--container h4 {
  border-bottom: 2px solid var(--grey);
  padding-bottom: 10px;
}

.blog__card--info {
  margin: 30px 0;
}

.blog__card--info h1{
  margin-bottom: 20px;
}

.blog__card--info p {
  margin-bottom: 20px;
  letter-spacing: .1rem;
  line-height: 2.5rem;
}

.blog__card--info p:last-of-type {
  margin: 0;
}


/* Contact section */

.contact__main--container {
  padding: 50px 0;
  background-color: var(--grey);
}

.contact__main--flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.contact__main--flex:last-of-type {
  margin: 0;
}

.contact__main--flex img {
  width: 100px;
  height: auto;
  margin: 0 auto 20px;
}

.contact__main--info h4 {
  padding-bottom: 10px;
}

.contact__main--info p {
  width: 70%;
  margin: 0 auto;
  line-height: 2.5rem;
}

/* MAIN - Profile */

.profile__card--container {
  padding: 30px 0;
  background-color: var(--grey);
}

.profile__card--details {
  width: 90%;
  margin: 0 auto;
}

.profile__card--details img {
  width: 100%;
  min-width: 250px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.profile__card--info h1 {
  margin-bottom: 10px;
}

.profile__card--info p {
  line-height: 2.2rem;
  text-align: justify;
}

/* Projects section */

.projects__main--container {
  padding: 50px 0;
}

.projects__container {
  width: 90%;
  margin: 0 auto;
}

.projects__container h3 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--grey);
}

.projects__cards--container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  gap: 20px;
}

.project__card h4 {
  margin-bottom: 10px;
}

/* Footer */

footer {
  background-color: var(--primary-color);
  height: 70px;
}

footer h5 {
  text-align: center;
  color: var(--white);
  padding: 20px 0;
}