
/* HEADER */

.header__social--icons {
  justify-content: flex-end;
  margin-right: 50px;
}

.header__social--icons a {
  margin-right: 30px;
  padding: 8px;
}

.header__social--icons i {
  font-size: 2.2rem;
}

.header__nav {
  justify-content: space-between;
}

.header__nav--logo img {
  height: 70px;
  width: auto;
  margin-left: 30px;
}

.header__nav--profile a {
  font-size: 1.8rem;
  margin-right: 50px;
}

/* MAIN */

.main__home--container {
  justify-content: center;
}

.main__home h1 {
  margin-bottom: 30px;
}

.main__home p {
  width: 100%;
  margin-bottom: 50px;
}

/* MAIN - Blogs */

.main__news h4 {
  text-align: left;
  margin-bottom: 25px;
}

.main__news--container {
  width: 80%;
}

.news--blogpost--card {
  flex-direction: row;
  align-items: flex-start;
  gap: 80px;
}

.news--blogpost--info {
  text-align: left;
}

.news--blogpost--info h3 {
  margin: 0;
}

/* Blogpost card section */

.main__blogposts--card {
  width: 80%;
}

.blogposts__cards--container {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.blogpost__card {
  text-align: left;
}

.blogpost__card img {
  width: 100%;
}

/* MAIN - blog */

.blog__main--container {
  width: 70%;
}

.contact__main--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 50px 80px;
}

.contact__main--flex {
  flex-direction: row;
  text-align: left;
  width: 70%;
  margin: auto;
}

.contact__main--flex img {
  margin-right: 10px;
}

.contact__main--info h4 {
  padding-bottom: 10px;
}

.contact__main--info p {
  width: auto;
  margin: 0;
  text-align: justify;
}